@import "tailwindcss";

@font-face {
  font-family: 'Savate';
  src: url('/src/assets/fonts/Savate/static/Savate-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/src/assets/fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SpaceGrotesk', sans-serif;
}